---

definition:
  endpoint_ui:
    hide_url: &hide_url
      hide-url: true
      hide-hostname: true
      hide-port: true


alerting:
  discord:
    webhook-url: "${DISCORD_WEBHOOK_URL}"
    default-alert:
      enabled: true
      failure-threshold: 3
      success-threshold: 5
      send-on-resolved: true
      description: "healthcheck failed (default)"


ui:
  title: "Health Status Ç€ XCC"
  description: "This page provides the real-time operational status and recent availability history of XCC services. If you encounter any issues, please check here first to see whether it is a system-wide incident."
  header: "XCC Service"
  dashboard-heading: "Health Status"
  dashboard-subheading: "Monitor the health of XCC service in real-time"
  logo: https://raw.githubusercontent.com/Xanonymous-GitHub/status/refs/heads/main/images/normal_cat_what.png
  favicon:
    default: https://raw.githubusercontent.com/Xanonymous-GitHub/status/refs/heads/main/images/favicon.ico
    size16x16: https://raw.githubusercontent.com/Xanonymous-GitHub/status/refs/heads/main/images/favicon-16x16.ico
    size32x32: https://raw.githubusercontent.com/Xanonymous-GitHub/status/refs/heads/main/images/favicon-32x32.ico
  dark-mode: true
  default-sort-by: group


storage:
  type: postgres
  path: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"
  maximum-number-of-results: 43200  # 30 day * 24 hr * 60 min
  maximum-number-of-events: 50


endpoints:

  - name: n8n
    group: services
    url: "https://n8n.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>*n8n*</title>*)"
    alerts:
      - type: discord
        description: "Health Check Failed - n8n.xcc.tw is down"

  - name: PDF
    group: services
    url: "https://pdf.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"

  - name: Portal
    group: services
    url: "https://portal.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"

  - name: Hushtimer
    group: XCC API
    url: "https://hushtimer.xcc.tw/version"
    interval: 60s
    conditions:
      - "[STATUS] == 200"
    ui:
      <<: *hide_url

  - name: Minecraft Server
    group: XCC Games
    url: "https://api.mcsrvstat.us/3/mc.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"
      - "[BODY].online == true"
      - "[BODY].players.max > 0"
      - "[BODY].version != \"\""
      - "[BODY].motd.clean[0] == pat(*Welcome*)"
    ui:
      <<: *hide_url
    alerts:
      - type: discord
        description: "Health Check Failed - Minecraft Server is down"
